<a href=<%= new_image_path %>>submit link</a>
<ul>
  <% @images.each do |image| %>
    <li>
      <img src=<%= image.url %> class='image'>
      <br>
      <% image.tag_list.each do |tag| %>
        <label class='badge badge-secondary'><%= tag %></label>
      <% end %>
    </li>
  <% end %>
</ul>
